{% extends 'base.html' %}
   
{% block content%}
<div class="container-fluid">
    <div class="row">
        {% for source in sources %}
        <div class="column">
            <div class="card source" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{source.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{source.description}}</h6>
                  <button href="{{source.image}}" class="btn btn-info">Click to view</button>
                  
                </div>
              </div> 
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}
    
   
    


   