{% extends 'base.html' %}
   
{% block content%}
<div class="container-fluid">
    <div class="row">
        {% for source in sources %}
        <div class="column">
            <div class="card source" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title" style="color:navy; font-weight:500;">{{source.name}}</h3>
                  <h6 class="card-title " style=" font-family:Arial, Helvetica, sans-serif;">{{source.description}}</h6>
                 <button class=" btn btn-secondary"><a href="{{source.image}}" class="card-link text-white" target="_blank">Click to view</a></button> 
                </div>
              </div> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
    
   
    


   