{% extends 'base.html' %}
   
{% block content%}
    
         <div class="container" >
           
         <div class="row">
          {% for article in articles %}
            <div class="column">
              <div class="card article mt-4 ml-4" style="width: 20rem;">
                <img src="{{ article.urlToImage }}" alt="{{ article.title }} ">
                <div class="card-body">
                  <h5 class="card-title" style="color:navy; font-family:'Poppins', sans-serif;">{{article.url}}</h5>
                  <a href="{{ article.title}}" target= "_blank" class="btn btn-secondary">View Source</a>
                </div>
                <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">By:{{article.author}}</li>
                </ul>
                <div class="card-footer">
                  <small class="text-muted">Published at:{{article.publishedAt}}</small>
                </div>
              </div>
               </div>
            {% endfor %}
        </div>
       
      </div>

{% endblock %}

    <!-- <div class="news-card">

      <img src="{{ article.urlToImage }}" alt="{{ article.title }} ">
      <!-- <li class="text-center">
          <a href="/home}}">
              {{ article.title|truncate(10)}}</a>
      </li> -->
  <!-- </div> --> 
  
    
   
    
